@import "./global/global.css";
@import "./ultilidades/tipografia.css";
@import "./ultilidades/cores.css";
@import "./global/header.css";
@import "./home/introducao.css";
@import "./ultilidades/componentes.css";
@import "./bicicletas-lista/bicicletas-lista.css";
@import "./home/tecnologia.css";
@import "./home/parceiros.css";
@import "./home/depoimento.css";
@import "./seguros/seguros.css";







