.bicicletas-bg{
  background-image: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 0%);
}

.bicicletas{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bicicletas-imagem{
  display: grid;
}
.bicicletas img{
  grid-area: 1/1;
}


.bicicletas span{
  background-color: var(--cor-12) ;
  display: inline-block ;
  padding: 8px 16px 8px 8px ;
  grid-area: 1/1;
  place-self: start end;
  margin-top: 20px;
  border-radius: 4px 0 0 4px;
}

.bicicletas-conteudo{
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}
.bicicletas-conteudo h2,
.bicicletas-conteudo p {
  grid-column: 1/-1;
}
.bicicletas-conteudo h2 {
  margin-bottom: 20px;
}
.bicicletas-conteudo h2::before{
  content: "";
  display: block;
  height: 8px;
  width: 12px;
  background-color: var(--cor-p1);
  margin-bottom: 8px;
}

.bicicletas-conteudo p{
  margin-bottom: 32px;
}

.bicicletas-conteudo ul{
  grid-column: 1;
  display: grid;
  gap:16px;
}

.bicicletas-conteudo li{
  display: flex;
  align-items: center;
}

.bicicletas-conteudo img{
  width:24px;
  margin-right: 8px;
}

.bicicletas-conteudo a{
  place-self: end;
}

@media (max-width:800px){
  .bicicletas-bg{
    background-image: none;
    background-color:var(--cor-11);
  }
  .bicicletas{
    grid-template-columns: 1fr;
    gap:20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width:600px) {
  .bicicletas-conteudo{
    grid-template-columns: 1fr;
  }

  .bicicletas-conteudo ul{
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
    font-size: 1rem;
  }

  .bicicletas-conteudo a {
    place-self: start;
  }
}