.bicicletas-lista{
  padding-top: 60px;
  padding-bottom: 120px;
}

.bicicletas-lista h2{
  text-transform:lowercase;
  margin-bottom: 40px;
}

.bicicletas-lista img{
  margin-bottom: 12px;
}

.bicicletas-lista a{
  display: block;
}

.bicicletas-lista ul{
  display:flex;
  max-width: 1400px;
  margin:0 auto;
  gap:40px;
  padding:0 20px 20px 20px;
  overflow-x: auto;
}

.bicicletas-lista li{
  min-width: 200px;
  flex:1;
}

.bicicletas-lista h3{
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap:8px
}

.bicicletas-lista h3::before{
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  transition: ease-in-out 0.2s;
}

.bicicletas-lista a:hover h3::before{
  width: 24px;
  transition: ease-in-out .3s;
}

.bicicletas-lista li span{
  padding-left: 20px;
}

@media(max-width:800px){
  .bicicletas-lista{
    padding-bottom: 60px;
  }
  .bicicletas-lista ul{
    gap:20px;
  }
}

