body{
  margin:0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul,
a,
h1,
h2,
h3,
h4,
p,
span,
blockquote,
dd{
  margin:0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
a {
  color:inherit;
  font: inherit;
}

img{
  max-width: 100%;
  display: block; 
}

img[src$=".jpg"]{
  border-radius: 4px;
}